<header class="header">
	<div class="header-container">
	<h2><font color="#FFFFFF"><p> 바리따의 골방 작업실 </p></font></h2>
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="/index.html">홈</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/index.html">홈</a>
				</li>			
			{% endif %}
			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="/about.html">이곳은</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/about.html">이곳은</a>
				</li>			
			{% endif %}
			{% if page.path == "category.html" %}
			<span class="title">
				<li>
					<a href="/category.html">분류</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/category.html">분류</a>
				</li>			
			{% endif %}
			{% if page.path == "archive.html" %}
			<span class="title">
				<li>
					<a href="/archive.html">글모음</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/archive.html">글모음</a>
				</li>			
			{% endif %}
		</div>
		<div class="description"> {{ site.motto }} </div>		
	</div>
</header>
